<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/choiceTopic.css">
    <title>Liste des topics - Forum_Ynov</title>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header class="bar">
        <div class="b-logo">
            <img class="hamburger" src="../assets/logos/menu.svg" alt="">
            <a href="#" class="logo"><img src="../assets/logos/Y.svg" alt=""></a>
        </div>
        <nav class="links">
            <ul>
                <li><a href="/">menu</a></li>
                <li><a href="https://welcome.ynov.com">Ynov</a></li>
                <li><a href="/profil">profil</a></li>
            </ul>
        </nav>

        <div class="b-cont">
            <span class="c-input">
                <form action="/search" method="GET">
                    <input type="text" name="query" class="input" placeholder="rechercher un forum">
                    <button type="submit" class="search__btn"><img src="../assets/logos/loupe.svg" alt=""></button>
                </form>
            </span>
            <a class="c-account" href="/connection">
                <span class="account-name">Mon compte</span>
                <img src="../assets/logos/user.svg" alt="">
            </a>
        </div>
    </header>

    <main class="main-content">
        <h1 class="topic-heading">{{.Category.Name}}</h1>
        <ul class="topic-list">
            {{range .Topics}}
            <li class="topic-item">
                <h2 class="topic-title">{{.Title}}</h2>
                <ul class="message-list">
                    {{range .MessageList}}
                    <li class="message-item">
                        <p class="message-content">{{.Content}}</p>
                        <p class="message-username">By {{.Username}}</p>
                    </li>
                    {{end}}
                </ul>
            </li>
            {{end}}
        </ul>
    </main>

    <script src="../scripts/main.js"></script>
</body>

</html>
