<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Forum_Ynov</title>    
</head>

<body>
    <nav class="bar">
        <a href="#" class="logo">lala </a> 
        <div class="links">
            <ul>
                <li><a href="">menu</a></li>
                <li><a href="">contact</a></li>
                <li><a href="">produits</a></li>
            </ul>
        </div>
        <img class="hamburger" src="../assets/logos/menu.svg" alt="">
    </nav>
</body>

<script src="/backend/js/main.js"></script>

</html>