body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
}

html,
body {
    width: 100%;
    height: 100%;
}

ol,
ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}


/* Path: frontend\styles\styles.css */


body {
    background-color: #272727;
    font-family: "Quicksand", sans-serif;
    color: #fff;
    font-size: 14px;
}



.bar {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    z-index: 100;
    background-color: #18191b;
    font-family: 'Kalam', cursive;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: wrap;
    gap: 10px;
}

.links a {
    margin: 0 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.links a:hover {
    background-color: #2e3238;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 35px;
    position: relative;
}


@media screen and (max-width: 1025px) {

    .hamburger {
        display: block;
    }

    .links {
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        margin: 0 100%;
    }

    .links.mobile_menu {
        margin: 0 0;
    }

    .links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .links ul li {
        margin: 25px 0;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        margin-right: 0;
        font-size: 14px;
        margin-right: 10px;
        transition: all 0.3s ease;
    }

    .form {
        margin-right: 5px;
        font-size: 0.7em;
        transition: all 0.3s ease;
    }

    .fancy-bg {
        width: 80%;
        height: 90%;
        margin: 0;
    }
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.c-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.input {
    max-width: 190px;
    height: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #2e3238;
    caret-color: #f7f7f8;
    color: #fff;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 1px;
    transition: all .2s ease;
}

.input:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
}

.input:focus {
    border: 2px solid #23b2a4;
    background-color: #0e0e10;
}

.search__btn {
    border: none;
    cursor: pointer;
    background-color: rgba(42, 42, 45, 1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__btn img {
    fill: #fff;
    width: 20px;
    height: 20px;
}

.search__btn:hover {
    background-color: rgba(54, 54, 56, 1);
}

.c-account {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.c-account :hover{
    cursor: pointer;

}

.ca-pseudo {
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
    gap: 5px;
}

/* header */


.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.c-head {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.c-head h1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.c-head p {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.cont-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.c-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: #2e3238;
    color: #36d4c4;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease;
}

.c-card:hover {
    background-color: #36d4c4;
    color: #2e3238;
    cursor: pointer;
}