@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
}

html,
body {
    width: 100%;
    height: 100%;
}

ol,
ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --cl-primary: #ECF8F6;
    --cl-v1-off-white : #FEEAA1;
    --cl-v2-off-white : #D6955B;
    --cl-v1-gren: #226D68; 
    --cl-v2-gren: #18534F; 
    --cl-text-primary: #333;
    --cl-text-secondary: #fefefe;
}


/* Navigation Bar Styles */

body {
    background-color: var(--cl-primary);
    font-family: "Quicksand", sans-serif;
    color: var(--cl-text-primary);
    font-size: 16px;
}

.bar {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cl-v1-gren);
    color: var(--cl-text-secondary);
    font-family: 'Kalam', cursive;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);;
}

.b-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 25%;
}
    

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: wrap;
    gap: 10px;
}

.links a {
    margin: 0 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.links a:hover {
    background-color: var(--cl-v1-off-white);
    color: var(--cl-v1-gren);
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 35px;
    position: relative;
}

.b-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.c-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.input {
    max-width: 190px;
    height: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--cl-text-secondary);
    caret-color: var(--cl-text-primary);
    padding: 7px 10px;
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 1px;
    transition: all .2s ease;
}

.input:hover {
    border: 2px solid var(--cl-v1-off-white);
}

.input:focus {
    border: 2px solid var(--cl-v2-off-white);
    background-color: var(--cl-v2-gren);
    color: var(--cl-text-secondary);
}

.search__btn {
    border: none;
    cursor: pointer;
    background-color: var(--cl-v2-off-white);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__btn img {
    width: 20px;
    height: 20px;
}

.search__btn:hover {
    background-color: var(--cl-v2-gren);
}

.c-account {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.c-account :hover {
    cursor: pointer;

}

.ca-pseudo {
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 1190px) {

    .hamburger {
        display: block;
    }

    .bar {
        justify-content: space-between;
    }

    .b-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .b-logo a {
        font-size: 30px;
    }

    .links {
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        margin: 0 100%;
    }

    .links.mobile_menu {
        margin: 0 0;
    }

    .links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .links ul li {
        margin: 25px 0;
    }
}

@media screen and (max-width: 680px) {

    .b-logo a {
        font-size: 3vh;
    }

    .c-input {
        height: 4vh;
    }

    .input {
        width: 10vh;
    }

    .c-account {
        font-size: 14px;
    }

    .ca-pseudo img {
        height: 25px;
    }
}


/* Main Content Styles */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.forum-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
    margin: 20px 0;
}

.forum-info h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    
}

.forum-info p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.new-topic-form {
    display: block;
    width: 80%;
    margin: 20px 0;
}
.new-topic-form form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.new-topic-form label {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 5px;
}

.new-topic-form input,
.new-topic-form textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid var(--cl-v1-gren);
}

.new-topic-form input[type="submit"] {
    width: auto;
    background-color: var(--cl-text-secondary);
    color: var(--cl-text-primary);
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s ease;
    margin-bottom: 50px;
}

.new-topic-form input[type="submit"]:hover {
    background-color: var(--cl-v1-off-white);
    color: var(--cl-v1-gren);
}

/* Footer Styles */

.foot {
    background-color: var(--cl-v2-gren);
    color: var(--cl-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.f-aix {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.f-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-option ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}

.f-option li {
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.f-option li:hover {
    scale: 1.35;
    cursor: pointer;
}

.f-option img {
    height: 35px;
}

.f-option img:hover {
    cursor: pointer;
}

.f-ynov {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.f-ynov img {
    height: 100px;

}

.f-ynov h1 {
    font-size: 26px;
    font-weight: 700;
}

.f-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-option ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.f-option li {
    font-size: 20px;
    font-weight: 500;
}

